<h1>
  {{header}}
</h1>

<h1>This is the Body</h1>
{{#if published}}
  {{content}}
{{/if}}

<ul>
  {{#each people}}
    <li>{{this.firstName}} {{this.lastName}}</li>
  {{/each}}
</ul>

<ul>
{{#for(let i=0; i < this.jobs.length; i++)}}
  <li>Object.keys({{this.jobs}})[i] makes {{this.jobs[Object.keys({{this.jobs}})[i]]}}
{{/for}}
<li>
